<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<!-- Bokeh - Embeded -->
		<link href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" rel="stylesheet" type="text/css">
		<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
	</head>
	<body>
		<div id="container1" class="container">
  			
			<div class="form-group">
				<label for="stockTiker" class="col-lg-2 control-label">Stock Ticker:</label>
				<div class="col-lg-2">
					<input type="text" class="form-control" id="stockTiker" placeholder="AAPL">
				</div>
				<div class="col-lg-2">
					<button id="stockTickerBtn" type="submit" class="btn btn-default">Generate graph</button>
				</div>
				<div class="col-lg-3">
					<p id="stockTickerResult" class="lead"></p>
				</div>
			</div>

		</div>

		<div id="container2" class="container">

		</div>
	</body>

	<script>

		$(document).ready(function() {


			$('#stockTickerBtn').click(function() {

				var ticker = $('#stockTiker').val().toUpperCase();
				$.ajax({
					url: "/stock/"+ ticker +"/graph",
					success: function(response) {
						$('#container2').html(response);
					},
					error: function(e) {
						console.log("Could not fetch data: "+ e);
					}
				});

			});
			

		});

	</script>
</html>
